<div class="panel panel-default" ng-if="items">
	<div class="panel-heading">PRODUCT LIST</div>
	<table class="table table-collapse table-bordered">
		<thead class="bg-success">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Image</th>
				<th>Category</th>
				<th>Available?</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in pager.items">
				<th style="vertical-align: middle;">{{item.id}}</th>
				<td style="vertical-align: middle;">{{item.name}}</td>
				<td style="vertical-align: middle;">{{item.price | number:2}}</td>
				<td style="vertical-align: middle;">{{item.createDate | date:'dd-mm-yyyy'}}</td>
				<td style="vertical-align: middle;">{{item.image}}</td>
				<td style="vertical-align: middle;">{{item.category.name}}</td>
				<td style="vertical-align: middle;">{{item.available?'Yes':'No'}}</td>
				<td style="vertical-align: middle;">
					<div class="btn-group btn-group-xs">
						<button ng-click="edit(item)" class="btn btn-warning glyphicon glyphicon-edit"></button>
						<button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash"></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer text-center">
		<button ng-click="pager.first()" class="btn btn-danger">
			<i class="glyphicon glyphicon-hand-up"></i>
		</button>
		<button ng-click="pager.prev()" class="btn btn-primary">
			<i class="glyphicon glyphicon-hand-left"></i>
		</button>
		<button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
		<button ng-click="pager.next()" class="btn btn-primary">
			<i class="glyphicon glyphicon-hand-right"></i>
		</button>
		<button ng-click="pager.last()" class="btn btn-danger">
			<i class="glyphicon glyphicon-hand-down"></i>
		</button>
	</div>
</div>