<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>

<title>Daily Shop | Cart Page</title>

</head>
<body>

	<!-- catg header banner section -->
	<section id="aa-catg-head-banner">
		<img src="../styleUser/img/fashion/gucci.jpg" alt="fashion img">
		<div class="aa-catg-head-banner-area">
			<div class="container">
				<div class="aa-catg-head-banner-content">
					<h2>Cart Page</h2>
					<ol class="breadcrumb">
						<li><a th:href="@{/user/index}">Home</a></li>
						<li class="active">Cart</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- / catg header banner section -->

	<!-- Cart view section -->
	<section id="cart-view">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cart-view-area">
						<div class="cart-view-table">
							<form action="">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>Image</th>												
												<th>Product</th>
												<th>Price</th>
												<th>Quantity</th>
												<th>Total</th>
												<th>Del</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in cart.items">											
												<td><a href="#"><img src="/styleUser/images/{{item.image}}"
														alt="img"></a></td>
												<td><a class="aa-cart-title" href="#">{{item.name}}</a></td>
												<td>$ {{item.price|number:2}}</td>
												<td><input class="aa-cart-quantity" ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number"
													min="1"></td>
												<td>$ {{item.qty*item.price|number:2}}</td>
												<td><a ng-click="cart.remove(item.id)" class="remove"><fa
															class="fa fa-close"></fa></a></td>
											</tr>							
											<tr>
												<td colspan="6" class="aa-cart-view-bottom">										
													<div class="aa-cart-coupon">												
														<input ng-model="item.code" value="0" class="aa-coupon-code" type="text"
															placeholder="Coupon"> 
															<input
															class="aa-cart-view-btn" type="submit"
															value="Apply Coupon">
													</div>
													 <button ng-click="cart.clear()" class="aa-cart-view-btn">Clear</button>
												</td>
											</tr>
										</tbody>
									</table>
									<a th:href="@{/product/list}" class="aa-cart-view-btn" >Return Product</a>
								</div>
							</form>
							<!-- Cart Total view -->
							<div class="cart-view-total">
								<h4>Cart Totals</h4>
								<table class="aa-totals-table">
									<tbody>
										<tr>
											<th>Subtotal</th>
											<td>$ {{cart.amount | number : 2}}</td>
										</tr>
										<tr>
											<th>Total</th>
											<td></td>
										</tr>
									</tbody>
								</table>
								<a href="#" class="aa-cart-view-btn">Proced to Checkout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- / Cart view section -->

</body>
</html>