<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>

<title>Daily Shop | Checkout Page</title>

</head>
<body>

	<!-- catg header banner section -->
	<section id="aa-catg-head-banner">
		<img src="../styleUser/img/fashion/gucci.jpg" alt="fashion img">
		<div class="aa-catg-head-banner-area">
			<div class="container">
				<div class="aa-catg-head-banner-content">
					<h2>Checkout Page</h2>
					<ol class="breadcrumb">
						<li><a th:href="@{/user/index}">Home</a></li>
						<li class="active">Checkout</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- / catg header banner section -->

	<!-- Cart view section -->
	<section id="checkout">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="checkout-area">
						<form action="">
							<div class="row">
								<div class="col-md-8">
									<div class="checkout-left">
										<div class="panel-group" id="accordion">							
											
											<!-- Shipping Address -->
											<div class="panel panel-default aa-checkout-billaddress">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion"
															href="#collapseFour"> Shippping Address </a>
													</h4>
												</div>
												<div id="collapseFour" class="panel-collapse collapse">
													<div class="panel-body">
														<div class="row">
															<div class="col-md-6">
																<div class="aa-checkout-single-bill">
																<label>Username*</label>
																	<div class="form-control" id="Username" disabled="disabled" >[[${#request.remoteUser}]]</div>															
																</div>
															</div>
															<div class="col-md-6">
																<div class="aa-checkout-single-bill">
																<label>Order Date*</label>
																	<div class="form-control" type="text" disabled="disabled" >{{order.createDate | date:'dd-MM-yyyy'}}</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-12">
																<div class="aa-checkout-single-bill">
																	<label>Address*</label>
																	<textarea cols="8" rows="3" ng-model="order.address" ></textarea>
																</div>
															</div>
														</div>											
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="checkout-right">
										<h4>Order Summary</h4>
										<div class="aa-order-summary-area">
											<table class="table table-responsive">
												<thead>
													<tr>
														<th>Product</th>
														<th>Total</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in cart.items">
														<td>{{item.name}} <strong> x {{item.qty}}</strong></td>
														<td>$ {{item.qty*item.price|number:2}}</td>
													</tr>

												</tbody>
												<tfoot>
													<tr>
														<th>Subtotal</th>
														<td>$ {{cart.amount | number : 2}}</td>
													</tr>
													<tr>
														<th>Ship</th>
														<td style="color: #FF0000;">$ 20</td>
													</tr>
													<tr>
														<th>Total</th>
														<td style="font-weight: bold; color: #008000;">$ {{cart.amount + 20.00 | number : 2 }}</td>
													</tr>
												</tfoot>
											</table>
										</div>
										<h4>Payment Method</h4>
										<div class="aa-payment-method">
											<label for="cashdelivery"><input type="radio"
												id="cashdelivery" name="optionsRadios"> Cash on
												Delivery </label> <label for="paypal"><input type="radio"
												id="paypal" name="optionsRadios" checked> Via Paypal
											</label> <img
												src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg"
												border="0" alt="PayPal Acceptance Mark">
												
												<button ng-click="order.purchase()" type="submit"  class="aa-browse-btn">Place Order</button>
												<button class="aa-browse-btn">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- / Cart view section -->

</body>
</html>